<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/css/style.css"/>
    <link rel="stylesheet" href="/static/css/modal.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">
    {% block title -%}
    {% if title %}
    <title>AltBase - {{ title }}</title>
    {% else %}
    <title>AltBase</title>
    {% endif %}
    {% endblock %}
</head>
<body>
{% block content -%}
<div class="background-overlay">

</div>
<div class="main-wrapper">
    <nav class="navbar">
        <!-- Логотип слева -->
        <a href="#" class="logo">
            <img src="/static/Images/medal_9740562.png" alt="AltBase Logo" class="logo-img" loading="lazy">
            <span class="logo-text">AltBase</span>
        </a>
        <!-- Меню справа -->
        <ul class="nav-menu">
            <li><a href="/" class="hover:text-blue-600">Home</a></li>
            <li><a href="#" class="hover:text-blue-600" onclick="openCreateModal()">Create</a>
            <li><a href="/main" class="hover:text-blue-600">Show profits</a></li>
            <li><a href="#" class="hover:text-blue-600" onclick="openLoginModal()">Login</a></li>
            <li><a href="#" class="hover:text-blue-600" onclick="openProfileModal()">Profile</a></li>
            <li><a href="#" class="hover:text-blue-600" onclick="openRegisterModal()">Register</a></li>
        </ul>
    </nav>
</div>

{% if show_modal %}
<script>
  document.addEventListener("DOMContentLoaded", () => {
    openLoginModal();
  });
</script>
{% endif %}

<div id="loginModalContainer"></div>
<script src="/js/login.js"></script>

<div id="registerModalContainer"></div>
<script src="/js/register.js"></script>

<div id="createModalContainer"></div>
<script src="/js/create.js"></script>

<script>
  window.currentUser = {
    name: "{% if user is defined and user %}{{ user.name }}{% else %}{% endif %}",
    email: "{% if user is defined and user %}{{ user.email }}{% else %}{% endif %}",
    avatar: "{% if user is defined and user %}{{ user.avatar }}{% else %}/static/Images/default-avatar.png{% endif %}"
  };
</script>



<div id="profileModalContainer"></div>
<script src="/js/profile.js"></script>

<script src="/js/close_x.js"></script>

{% endblock content -%}
</body>
</html>

