{% extends 'base1.html' %}

{% block content %}
{{ super() }}
<hr>
{% for cat, msg in messages %}
<div class="flash {{ cat }}">{{ msg }}</div>
{% endfor %}
<h2>Purcashes actives list</h2>
<div class="bg-white border border-indigo-900" style="width: 741px; height: 734px;">
<ul class="list-posts">
    {% for p in actives %}
    <li>
        <p class="title">  {{ p.id }}.     -    {{ p.date }}    {{ p.token }}     {{ p.quantity }}   {{ p.price }}    {{ p.amount }}</p>
        <a href="/main/{{ p.id }}" class="btn btn-success">Sell</a> <a href="/update/{{ p.id }}" class="btn btn-success">Update</a> <a href="/delete/{{ p.id }}" class="btn btn-warning">Delete</a>
    </li>
    {% endfor %}
</ul>
</div>
{% endblock %}