{% extends 'base1.html' %}

{% block content %}
    {{ super() }}
    {% for cat, msg in messages %}
        <div class="flash {{ cat }}">{{ msg }}</div>
    {% endfor %}
    {% if form.errors %}
    <ul class="error-list">
        <h3>There are such mistakes:</h3>
        {% for field, msg in form.errors.items() %}
            <li><strong>{{ field }}:</strong> {{ msg }}</li>
        {% endfor %}
    </ul>
    {% endif %}

<hr>
<h3 class="text-center">Fill all windows to logining.</h3>
<form action="/login" method="post" enctype="multipart/form-data" class="form-contact">
    <p>Name: <input type="text" name="name">
    <p>Password: <input type="text" name="psw">
    <p>Remember me: <input type="checkbox" name="remember">
    <p><input type="submit" value="Submit">
    <hr align=left width="300px">
    <p><a href="{{ url_for('register') }}">Registration </a>
</form>
{% endblock %}

