{% extends 'base1.html' %}

{% block content %}
{{ super() }}

<hr>
{% for cat, msg in messages %}
<div class="flash {{ cat }}">{{ msg }}</div>
{% endfor %}

<h2 class="caption">Sell operations records list</h2>
<h2 class="caption_total">Total profit - {{ total_profit }}</h2>
<div class="actives-container"> {% for p in records %}
    <li class="list-posts"> <div class="title">
        <table class="index"> <tr class="caption">
            <th>ID</th>
            <th>Date</th>
            <th>Token</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Profit</th>
        </tr> <tr class="value">
            <th>{{ p.id }}</th>
            <th>{{ p.data }}</th>
            <th>{{ p.token }}</th>
            <th>{{ p.quantity | float | round(3) }}</th>
            <th>{{ p.price | float | round(3) }}</th>
            <th>{{ p.profit }}</th>
        </tr>
        </table>
    </div> <a href="/delRec/{{ p.id }}" class="btn-warning">Delete</a>
    </li>
    {% endfor %}
</div>

{% endblock %}
